<!--
This HTML was taken from the previous anthonypan.com on March 9th, 2020. It lists a grid of my favorite pieces of media - books, music, TV shows, movies - circa 2017. The page was originally created through Weebly.
-->

<div class="main-wrap">
  <div id="wsite-content" class="wsite-elements wsite-not-footer">
  <div class="wsite-section-wrap">
  <div class="wsite-section wsite-body-section wsite-background-12">
    <div class="wsite-section-content">
          <div class="container">
      <div class="wsite-section-elements">

<div><div class="wsite-multicol"><div class="wsite-multicol-table-wrap" style="margin:0 -15px;">
  <table class="wsite-multicol-table">
    <tbody class="wsite-multicol-tbody">
      <tr class="wsite-multicol-tr">
        <td class="wsite-multicol-col" style="width:33.333333333333%; padding:0 15px;">
          
            

<div class="wsite-youtube" style="margin-bottom:10px;margin-top:10px;"><div class="wsite-youtube-wrapper wsite-youtube-size-auto wsite-youtube-align-center">
<div class="wsite-youtube-container">

<iframe height = "200" src="//www.youtube.com/embed/4v3zyPEy-Po?wmode=opaque" frameborder="0" allowfullscreen=""></iframe>
</div>
</div></div>

<div><div class="wsite-image wsite-image-border-none " style="padding-top:10px;padding-bottom:10px;margin-left:0px;margin-right:0px;text-align:center">
<a href="https://www.goodreads.com/book/show/25489625-between-the-world-and-me" target="_blank">
<img src="../pdf/old-favorites/between-teh-world_orig.jpg" alt="Picture" style="width:auto;max-width:100%">
</a>
<div style="display:block;font-size:90%"></div>
</div></div>

<div><div class="wsite-image wsite-image-border-none " style="padding-top:10px;padding-bottom:10px;margin-left:0px;margin-right:0px;text-align:center">
<a href="https://www.netflix.com/watch/80106124" target="_blank">
<img src="../pdf/old-favorites/makehappy_orig.jpg" alt="Picture" style="width:auto;max-width:100%">
</a>
<div style="display:block;font-size:90%"></div>
</div></div>

<div class="wsite-youtube" style="margin-bottom:10px;margin-top:10px;"><div class="wsite-youtube-wrapper wsite-youtube-size-auto wsite-youtube-align-center">
<div class="wsite-youtube-container">

<iframe height = "200" src="//www.youtube.com/embed/n_lXpTvSxgA?wmode=opaque" frameborder="0" allowfullscreen=""></iframe>
</div>
</div></div>

<div><div class="wsite-image wsite-image-border-none " style="padding-top:10px;padding-bottom:10px;margin-left:0px;margin-right:0px;text-align:right">
<a href="http://www.wnyc.org/shows/invisibilia" target="_blank">
<img src="../pdf/old-favorites/invisibiliapodcast-icon-hotpink-01-sq-2359778531d9733109e3674a5cecf5a711aa511f_orig.jpg" alt="Picture" style="width:auto;max-width:100%">
</a>
<div style="display:block;font-size:90%"></div>
</div></div>

<div><div class="wsite-image wsite-image-border-none " style="padding-top:10px;padding-bottom:10px;margin-left:0px;margin-right:0px;text-align:center">
<a href="http://www.imdb.com/title/tt1439629/" target="_blank">
<img src="../pdf/old-favorites/com_orig.jpg" alt="Picture" style="width:auto;max-width:100%">
</a>
<div style="display:block;font-size:90%"></div>
</div></div>

<div><div class="wsite-image wsite-image-border-none " style="padding-top:10px;padding-bottom:10px;margin-left:0px;margin-right:0px;text-align:right">
<a href="https://www.rottentomatoes.com/m/whiplash_2014/" target="_blank">
<img src="../pdf/old-favorites/whiplash_orig.jpg" alt="Picture" style="width:auto;max-width:100%">
</a>
<div style="display:block;font-size:90%"></div>
</div></div>

<div class="wsite-youtube" style="margin-bottom:10px;margin-top:10px;"><div class="wsite-youtube-wrapper wsite-youtube-size-auto wsite-youtube-align-center">
<div class="wsite-youtube-container">

<iframe height = "200" src="//www.youtube.com/embed/eaMBagakSdM?wmode=opaque" frameborder="0" allowfullscreen=""></iframe>
</div>
</div></div>

<div><div class="wsite-image wsite-image-border-none " style="padding-top:10px;padding-bottom:10px;margin-left:0px;margin-right:0px;text-align:right">
<a href="https://getcrookedmedia.com/here-have-a-podcast-78ee56b5a323" target="_blank">
<img src="../pdf/old-favorites/podsaveamerica-1_orig.jpg" alt="Picture" style="width:auto;max-width:100%">
</a>
<div style="display:block;font-size:90%"></div>
</div></div>

<div><div class="wsite-image wsite-image-border-none " style="padding-top:10px;padding-bottom:10px;margin-left:0px;margin-right:0px;text-align:center">
<a href="http://www.imdb.com/title/tt0100332/" target="_blank">
<img src="../pdf/old-favorites/paris-is-burning-movie-poster-1990-1020258447_orig.jpg" alt="Picture" style="width:auto;max-width:100%">
</a>
<div style="display:block;font-size:90%"></div>
</div></div>


          
        </td>       <td class="wsite-multicol-col" style="width:33.333333333333%; padding:0 15px;">
          
            

<div><div class="wsite-image wsite-image-border-none " style="padding-top:0px;padding-bottom:10px;margin-top:-20px;margin-left:0px;margin-right:0px;text-align:center">
<a href="https://myanimelist.net/anime/22135/Ping_Pong_The_Animation" target="_blank">
<img src="../pdf/old-favorites/ping_1_orig.jpg" alt="Picture" style="width:auto;max-width:100%">
</a>
<div style="display:block;font-size:90%"></div>
</div></div>

<div class="wsite-youtube" style="margin-bottom:10px;margin-top:10px;"><div class="wsite-youtube-wrapper wsite-youtube-size-auto wsite-youtube-align-center">
<div class="wsite-youtube-container">

<iframe height = "200" src="//www.youtube.com/embed/ferZnZ0_rSM?wmode=opaque" frameborder="0" allowfullscreen=""></iframe>
</div>
</div></div>

<div><div class="wsite-image wsite-image-border-none " style="padding-top:10px;padding-bottom:10px;margin-left:0px;margin-right:0px;text-align:center">
<a href="https://www.netflix.com/watch/80057578" target="_blank">
<img src="../pdf/old-favorites/little-prince_orig.jpg" alt="Picture" style="width:auto;max-width:100%">
</a>
<div style="display:block;font-size:90%"></div>
</div></div>

<div><div class="wsite-image wsite-image-border-none " style="padding-top:10px;padding-bottom:10px;margin-left:0px;margin-right:0px;text-align:right">
<a href="https://www.goodreads.com/book/show/297673.The_Brief_Wondrous_Life_of_Oscar_Wao" target="_blank">
<img src="../pdf/old-favorites/oscar-awao_orig.jpeg" alt="Picture" style="width:auto;max-width:100%">
</a>
<div style="display:block;font-size:90%"></div>
</div></div>

<div class="wsite-youtube" style="margin-bottom:10px;margin-top:10px;"><div class="wsite-youtube-wrapper wsite-youtube-size-auto wsite-youtube-align-center">
<div class="wsite-youtube-container">

<iframe height = "200" src="//www.youtube.com/embed/ksHbSw4VEq4?wmode=opaque" frameborder="0" allowfullscreen=""></iframe>
</div>
</div></div>

<div><div class="wsite-image wsite-image-border-none " style="padding-top:10px;padding-bottom:10px;margin-left:0px;margin-right:0px;text-align:right">
<a href="https://www.apmpodcasts.org/thwod/" target="_blank">
<img src="../pdf/old-favorites/hilarous-world-depression-tile-2_1_orig.jpg" alt="Picture" style="width:auto;max-width:100%">
</a>
<div style="display:block;font-size:90%"></div>
</div></div>

<div class="wsite-youtube" style="margin-bottom:10px;margin-top:10px;"><div class="wsite-youtube-wrapper wsite-youtube-size-auto wsite-youtube-align-center">
<div class="wsite-youtube-container">

<iframe height = "200" src="//www.youtube.com/embed/0jM3v8nm0ac?wmode=opaque" frameborder="0" allowfullscreen=""></iframe>
</div>
</div></div>

<div><div class="wsite-image wsite-image-border-none " style="padding-top:10px;padding-bottom:10px;margin-left:0px;margin-right:0px;text-align:right">
<a href="https://myanimelist.net/anime/2251/Baccano" target="_blank">
<img src="../pdf/old-favorites/bacc_orig.jpg" alt="Picture" style="width:auto;max-width:100%">
</a>
<div style="display:block;font-size:90%"></div>
</div></div>

<div><div class="wsite-image wsite-image-border-none " style="padding-top:10px;padding-bottom:10px;margin-left:0px;margin-right:0px;text-align:center">
<a href="https://gimletmedia.com/reply-all/" target="_blank">
<img src="../pdf/old-favorites/replyall-logo-2400px_orig.jpg" alt="Picture" style="width:auto;max-width:100%">
</a>
<div style="display:block;font-size:90%"></div>
</div></div>

<div><div class="wsite-image wsite-image-border-none " style="padding-top:10px;padding-bottom:10px;margin-left:0px;margin-right:0px;text-align:right">
<a href="https://www.netflix.com/watch/80134966" target="_blank">
<img src="../pdf/old-favorites/jenkirkman_orig.jpg" alt="Picture" style="width:auto;max-width:100%">
</a>
<div style="display:block;font-size:90%"></div>
</div></div>


          
        </td>       <td class="wsite-multicol-col" style="width:33.333333333333%; padding:0 15px;">
          
            

<div class="wsite-youtube" style="margin-bottom:10px;margin-top:15px;"><div class="wsite-youtube-wrapper wsite-youtube-size-auto wsite-youtube-align-center">
<div class="wsite-youtube-container">

<iframe height = "200" src="//www.youtube.com/embed/yG96RttfZtM?wmode=opaque" frameborder="0" allowfullscreen=""></iframe>
</div>
</div></div>

<div><div class="wsite-image wsite-image-border-none " style="padding-top:10px;padding-bottom:10px;margin-left:0px;margin-right:0px;text-align:center">
<a href="https://www.rottentomatoes.com/m/silver_linings_playbook/" target="_blank">
<img src="../pdf/old-favorites/silver-linings_orig.jpg" alt="Picture" style="width:auto;max-width:100%">
</a>
<div style="display:block;font-size:90%"></div>
</div></div>

<div><div class="wsite-image wsite-image-border-none " style="padding-top:10px;padding-bottom:10px;margin-left:0px;margin-right:0px;text-align:center">
<a href="https://www.netflix.com/watch/70298930" target="_blank">
<img src="../pdf/old-favorites/bojack_orig.jpg" alt="Picture" style="width:auto;max-width:100%">
</a>
<div style="display:block;font-size:90%"></div>
</div></div>

<div class="wsite-youtube" style="margin-bottom:10px;margin-top:10px;"><div class="wsite-youtube-wrapper wsite-youtube-size-auto wsite-youtube-align-center">
<div class="wsite-youtube-container">

<iframe height = "200" src="//www.youtube.com/embed/i4ooH8frBWg?wmode=opaque" frameborder="0" allowfullscreen=""></iframe>
</div>
</div></div>

<div><div class="wsite-image wsite-image-border-none " style="padding-top:10px;padding-bottom:10px;margin-left:0px;margin-right:0px;text-align:center">
<a href="https://myanimelist.net/anime/11061/Hunter_x_Hunter_2011" target="_blank">
<img src="../pdf/old-favorites/hxh_orig.jpg" alt="Picture" style="width:auto;max-width:100%">
</a>
<div style="display:block;font-size:90%"></div>
</div></div>

<div><div class="wsite-image wsite-image-border-none " style="padding-top:10px;padding-bottom:10px;margin-left:0px;margin-right:0px;text-align:center">
<a href="http://www.wnyc.org/shows/radiolabmoreperfect" target="_blank">
<img src="../pdf/old-favorites/moreperfect_orig.png" alt="Picture" style="width:auto;max-width:100%">
</a>
<div style="display:block;font-size:90%"></div>
</div></div>

<div><div class="wsite-image wsite-image-border-none " style="padding-top:10px;padding-bottom:10px;margin-left:0px;margin-right:0px;text-align:center">
<a href="http://www.imdb.com/title/tt2297757/" target="_blank">
<img src="../pdf/old-favorites/nathan-for-you_orig.jpg" alt="Picture" style="width:auto;max-width:100%">
</a>
<div style="display:block;font-size:90%"></div>
</div></div>

<div class="wsite-youtube" style="margin-bottom:10px;margin-top:10px;"><div class="wsite-youtube-wrapper wsite-youtube-size-auto wsite-youtube-align-center">
<div class="wsite-youtube-container">

<iframe height = "200" src="//www.youtube.com/embed/hlR9rDJMEiQ?wmode=opaque" frameborder="0" allowfullscreen=""></iframe>
</div>
</div></div>

<div><div class="wsite-image wsite-image-border-none " style="padding-top:10px;padding-bottom:10px;margin-left:0px;margin-right:0px;text-align:center">
<a href="https://www.netflix.com/watch/80101493" target="_blank">
<img src="../pdf/old-favorites/aliwong_orig.jpg" alt="Picture" style="width:auto;max-width:100%">
</a>
<div style="display:block;font-size:90%"></div>
</div></div>

<div><div class="wsite-image wsite-image-border-none " style="padding-top:10px;padding-bottom:10px;margin-left:0px;margin-right:0px;text-align:center">
<a href="http://www.imdb.com/title/tt2861424/" target="_blank">
<img src="../pdf/old-favorites/rick.jpg?1486350910" alt="Picture" style="width:353;max-width:100%">
</a>
<div style="display:block;font-size:90%"></div>
</div></div>

<div class="wsite-youtube" style="margin-bottom:10px;margin-top:10px;"><div class="wsite-youtube-wrapper wsite-youtube-size-auto wsite-youtube-align-center">
<div class="wsite-youtube-container">

<iframe height = "200" src="//www.youtube.com/embed/ky9Ro9pP2gc?wmode=opaque" frameborder="0" allowfullscreen=""></iframe>
</div>
</div></div>


          
        </td>     </tr>
    </tbody>
  </table>
</div></div></div>
      </div>
    </div>
      </div>

  </div>
</div>

  </div>

</div>
